<h1 class="page-header"> <%= link_to 'â†', :back %> <%= @section[:name] %></h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <%= @section[:description] %>
  </div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        Demo
      </div>
      <div class="panel-body">
        <%= react_component @section[:component_name], @section[:props], {id: 'example'} %>
      </div>
    </div>
    <hr>
    <%= raw coderay('javascript', (render file: "/app/assets/javascripts/components/#{@section[:template_name]}", layout: false)) %>
  </div>
</div>
